git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/PythonistaGuild/Wavelink
git+https://github.com/Gorialis/jishaku@master
orjson
Pillow
pymongo[srv]
motor
infinitode.py