git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/Gorialis/jishaku@master
git+https://github.com/Sprylos/infinitode.py
wavelink
orjson
Pillow
pymongo[srv]
motor